# General & Node & pm2 stuff
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.DS_Store
.vscode
Thumbs.db
node_modules

# Fix for img/spoiler directory
/img/spoilers/gifs/*
/img/memes/bitchholdon.jpg

# Privacy & security
/config/atreactions.json
/config/txtreactions.json
/config/streamlink/users/*
/config/streamlink/guilds/*
!/config/streamlink/conf.json
!/config/streamlink/users/dummy
!/config/streamlink/guilds/dummy
settings.json
settings.backup.json

# Commands not to include
**/temp.js
**/nj.js
**/sayreville.js
**/bitchholdon.js
**/blazertov.js
**/bananabat.js
**/wine.js