# Node Stuff
node_modules/
logs/
package.json
package-lock.json

# Privacy
config/
settings.json
settings-backup.json
nj.js
sayreville.js

# Commands not to include
commands/Memes/
plug.js
test.js
weeklytest.js
insult.js
magic8.js